body{
  background-color: #e53935;
}



.margin-top{
  margin-top: 2rem;
}

.navbar-fixed-zindex{
  z-index: 998;
}

.divider-horizontal{
  width: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
}

h1{
  margin:2%;
}
h2{
  text-align: start;
}

p{
  color: black;
}

.blue-screen{
  display: none;
}
.fake-mess-error{
  word-wrap: break-word;
  color: white;
}
.carousel{
  padding-top: 0;
  z-index: 100;
  opacity: 1;
}
.carousel .carousel-item{
  margin:0;
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 993px) {
  .bs-mobile {
    display: none !important;
  }
}

@media only screen and (max-width: 993px) {
  .bs-pc {
    display: none !important;
  }
  .parallax-container{
    height: 10rem !important;
  }
}

.img-bs{
  width:100%;
  margin:0;
}

.logo{
  height:35px;
}

.contact{
  display:none;
}
.texte-carousel1,.texte-carousel2,.texte-carousel3,.texte-carousel4,.texte-carousel5{
  display: none;
}
.color-white{
  color:white;
}
