body{
  background-color: #e53935;
}

a{
  color: #fb3f00;
  text-decoration: none;
}

.carousel{
  height: 600px !important;
}

.margin-top{
  margin-top: 2rem;
}

.navbar-fixed-zindex{
  z-index: 998;
}

.divider-horizontal{
  width: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
}

h1{
  margin:2%;
}
h2{
  text-align: start;
}

p{
  color: black;
}

.blue-screen{
  display: none;
}
.fake-mess-error{
  word-wrap: break-word;
  color: white;
}


@media only screen and (min-width: 993px) {
  .bs-mobile {
    display: none !important;
  }
  .carousel{
    height: 600px !important;
  }
}

@media only screen and (max-width: 993px) {
  .bs-pc {
    display: none !important;
  }
  .parallax-container{
    height: 10rem !important;
  }
  .carousel{
    height:400px !important;
  }
}

.img-bs{
  width:100%;
  margin:0;
}

.logo{
  height:35px;
}

.contact{
  display:none;
}
