body{
  background-color: #e53935;
}

a{
  color: #fb3f00;
  text-decoration: none;
}

.carousel{
  height: 600px !important;
}

.margin-top{
  margin-top: 2rem;
}

.navbar-fixed-zindex{
  z-index: 998;
}

.divider-horizontal{
  width: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
}

h1{
  margin:2%;
}
h2{
  margin: 1rem 0 1.424rem 0
}

p{
  color: black;
}

.blue-screen{
  display: none;
}
.fake-mess-error{
  word-wrap: break-word;
  color: white;
}
.carousel{
  padding-top: 0;
  z-index: 100;
  opacity: 1;
}
.carousel .carousel-item{
  margin:0;
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 993px) {
  .bs-mobile {
    display: none !important;
  }
<<<<<<< HEAD
=======
  .carousel{
    height: 600px !important;
  }
>>>>>>> 3dba319f1cdc23cf51626db51eef53d1084be1d4
}

@media only screen and (max-width: 993px) {
  .bs-pc {
    display: none !important;
  }
  .parallax-container{
    height: 10rem !important;
  }
<<<<<<< HEAD
=======
  .carousel{
    height:400px !important;
  }
>>>>>>> 3dba319f1cdc23cf51626db51eef53d1084be1d4
}

.img-bs{
  width:100%;
  margin:0;
}

.logo{
  height:35px;
}

.contact{
  display:none;
}
<<<<<<< HEAD
.texte-carousel1,.texte-carousel2,.texte-carousel3,.texte-carousel4,.texte-carousel5{
  display: none;
}
.color-white{
  color:white;
=======

#modal1-bouton{
  margin-bottom: 3vh !important;
}

.carousel{
  display:flex !important;/*
  flex-direction: column !important;*/
  align-items: center !important;
>>>>>>> 3dba319f1cdc23cf51626db51eef53d1084be1d4
}
